@media (min-width : 1400px)
{
    .container
    {
        max-width: 1490px;
    }
    #topBanner
    {
        padding: 1.2rem;
        background-color: #2a2c30;
    }
    .navbar-brand img 
    {
        width: 25%;
    }
    #left 
    {
        margin-left: 1.4rem;
    }
    .navbar-nav
    {
        margin-left: 19.2rem !important;
        align-items: center;
    }


    /* hereo section  */

    #heroSection
    {
        background-color: #d9e9ff;
        background-image: linear-gradient(to top right, #3d86fa, #4484fb, #679eff, #b3d2ff, #ebf3fe);
        height: 90vh;
        max-width: 1468px;
    }

    .leftDiv
    {
        padding-left: 3.2rem;
    }
    .leftDiv p:nth-child(1)
    {
        font-size: clamp(1rem, 5vw, 1.5rem);
        padding-top: 6.2rem;
        font-weight: 500;
    }
    .leftDiv p:nth-child(2)
    {
        font-size: clamp(1rem, 4vw, 4rem);
        font-weight: 500;
        color: #18182d;
        text-shadow: 1px 3px 4px black;
    }
    .leftDiv p:nth-child(3)
    {
        margin-top: 3.2rem;
        font-size: clamp(1rem, 2vw, 1.2rem);
        font-weight: 500;
        color: white;
    }
    .leftDiv button 
    {
        margin-top: 2.2rem;
        letter-spacing: 3px;
        font-weight: 500;
        padding: 1rem;
    }
    
    /* 3 card section  */
    
    .Three_card_grandParent
    {
        height: 50vh;
        padding-top: 3.3rem;
        max-width: 1468px;
    }

    .threeProducts_card 
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 2.1rem;
        padding-right: 2.1rem;
        height: 16rem;
        border-radius: 15px;
        background-color : #e1e4ee;
        margin-right: 1.5rem;
        margin-left: -0.7rem;
        box-shadow: 4px 6px 9px #e09292;
    }
      
    .card-description 
    {
        flex-grow: 1;
    }  
    .card-description p 
    {
        font-size: clamp(1rem, 2vw, 1.3rem);
        color: red;
        text-shadow: 3px 5px 8px rebeccapurple;
    }

    .card-image img 
    {
        width: 100%;
        rotate: 12deg;
    }


    /* facilities provided  */

    #facilitiesProvides
    {
        height: 25vh;
        padding-top: 2.3rem;
        box-shadow: 2px 2px 4px grey;
    }
    .facilityProvidedCards
    {
        height: 80%;
    }
    .smallLogo
    {
        font-size: clamp(1rem, 3vw, 2.5rem);
        color: #4e4e8c;
        margin-left: 1.2rem;
    }
    .details p:nth-child(1)
    {
        letter-spacing: 2px;
        text-transform: capitalize;
    }
    .details p:nth-child(2)
    {
        text-transform: capitalize;
    }


    /* some of our product section  */

    #someofOurProductSection
    {
        margin-top: 2.2rem;
        font-size: 2.5rem;
        font-weight: 600;
        text-shadow: 10px 10px 14px #14324f;
    }


    /* why choose us section  */

    #whyChooseUs
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5.2rem;
        padding-top: 3.2rem;
        padding-left: 5.2rem;
        padding-right: 5.2rem;
    }


    /* product card section  */
    .cardParent
    {
        height: 100vh;
        /* background-color: #4484fb; */
        padding-top: 1.1rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        border-radius: 23px;
        box-shadow: 4px 6px 7px grey;
    }
    
    .itemType
    {
        background-color: #e06767;
        border-radius: 23px;
        width: clamp(14%, 11vw, 37%);
        text-align: center;
    }
    .productImage
    {
        width: 90%;
    }
    .productImage img 
    {
        width: 100%;
    }
    .productName
    {
        font-size: clamp(1rem, 5vw, 2rem);
        font-weight: 500;
    }
    .productRating i 
    {
        color: goldenrod;
    }
    .prod-description p
    {
        font-size: clamp(1.2rem, 2vw, 1.3rem);
        padding-right: 1rem;
        font-weight: 400;
    }

    .product_price
    {
        font-size: clamp(1rem, 4vw, 1.6rem);
        font-weight: 500;
    }
    .currentPrice
    {
        margin-right: 1.2rem;
    }
    .totalStock
    {
        font-size: clamp(1rem, 2vw, 1.4rem);
        margin-top: 1.1rem;
        font-weight: 500;
    }
    .quantityToAddinCart
    {
        margin-top: 1.5rem;
        font-size: clamp(1rem, 2vw, 1.3rem);
    }
    .productIncrementDecrementFunctionality
    {
        margin-left: 1.2rem;   
    }
    .productIncrementDecrementFunctionality p 
    {
        width: 3.2rem;
        margin: 0;
        text-align: center;
    }
    .productIncrementDecrementFunctionality button
    {
        width: 3.2rem;
    }
    .addToCardButton
    {
        margin-top:1.2rem;
    }



/***** CART PAGE START *****/ 

    .parentOfItemsContainer
    {
        max-width: 1468px;
        margin-top: 6.2rem;
    }

    .actualCardContainer
    {
        margin: 0 4.2rem;
    }

    .productsCard
    {
        height: 30vh;
        border:1px solid rgb(232, 197, 197);
        box-shadow:10px 10px 14px grey;
    }

    .typeOfProduct
    {
        margin-left: 1.1rem;
        font-weight: 600;
    }

    .imageOfProduct
    {
        width: 14%;
    }
    .imageOfProduct img 
    {
        width: 100%;
    }
    
    .removeBtn
    {
        margin-right: 1.1rem;
    }

    .emptyCart_git_Holder
    {
        padding-left: 45%;
    }
    
    .emptyCart_git_Holder img 
    {
        display: block;
        width: 10%;
    }

    .emptyCart_git_Holder p 
    {
        margin-top: 3%;
        font-size: 2.2rem;
        margin-left: -26%;
        font-weight: 500;
        text-shadow: 4px 5px 10px #8f4508;
    }

/*****  CART PAGE END  *****/
    
}