

/* very small screens  */
@media (max-width : 575px)
{
    .parentContainer_formAnd_Map
    {
        padding-top:6.4rem;
        padding-bottom: 6.4rem;
        justify-content: space-around;
    }

    .leftSideForm
    {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        background-color: rgba(255, 255, 255, 0.7); 
        border-radius: 20px; 
        box-shadow: 35px 35px 68px 0px rgba(94, 122, 154, 0.5), inset -8px -8px 16px 0px rgba(94, 122, 154, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    }

    .topSection p:nth-child(1)
    {
        font-size: clamp(1rem, 2vw, 2.2rem);
        font-weight: 600;
        letter-spacing: 2px;
        margin: 0;
    }

    .topSection p:nth-child(2)
    {
        font-size : clamp(1rem, 2vw, 1.2rem);
    }
    .btn-success
    {
        margin-top:1.1rem;
    }

      /* map  */

      .rightSideForm
      {
        height: 58vh;
      }
}


/* small screens  */

@media (min-width : 576px) and (max-width : 767px)
{   
    .parentContainer_formAnd_Map
    {
        padding-top:6.4rem;
        padding-bottom: 6.4rem;
        justify-content: space-around;
    }

    .leftSideForm
    {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        background-color: rgba(255, 255, 255, 0.7); 
        border-radius: 20px; 
        box-shadow: 35px 35px 68px 0px rgba(94, 122, 154, 0.5), inset -8px -8px 16px 0px rgba(94, 122, 154, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    }

    .topSection p:nth-child(1)
    {
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 0;
    }

    .topSection p:nth-child(2)
    {
        font-size : 1.3rem;
        font-weight: 800;
    }
    .btn-success
    {
        margin-top:1.1rem;
    }

      /* map  */

    .rightSideForm
    {
        height: 58vh;
    }
}
@media (min-width : 768px) and (max-width : 991px)
{   
    .parentContainer_formAnd_Map
    {
        padding-top:6.4rem;
        padding-bottom: 6.4rem;
        justify-content: space-around;
    }

    .leftSideForm
    {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        background-color: rgba(255, 255, 255, 0.7); 
        border-radius: 20px; 
        box-shadow: 35px 35px 68px 0px rgba(94, 122, 154, 0.5), inset -8px -8px 16px 0px rgba(94, 122, 154, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    }

    .topSection p:nth-child(1)
    {
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 0;
    }

    .topSection p:nth-child(2)
    {
        font-size : 1.3rem;
        font-weight: 800;
    }
    .btn-success
    {
        margin-top:1.1rem;
    }

      /* map  */

    .rightSideForm
    {
        height: 58vh;
    }
}

@media (min-width : 992px) and (max-width : 1200px)
{
    
    .parentContainer_formAnd_Map
    {
        max-width: 90vw;
    }
    
}

@media (min-width : 1400px)
{
    .parentContainer_formAnd_Map
    {
        padding-top:6.4rem;
        padding-bottom: 6.4rem;
        justify-content: space-around;
    }

    .leftSideForm
    {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        background-color: rgba(255, 255, 255, 0.7); 
        border-radius: 20px; 
        box-shadow: 35px 35px 68px 0px rgba(94, 122, 154, 0.5), inset -8px -8px 16px 0px rgba(94, 122, 154, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    }

    .topSection p:nth-child(1)
    {
        font-size: clamp(1rem, 2vw, 2.2rem);
        font-weight: 600;
        letter-spacing: 2px;
        margin: 0;
    }

    .topSection p:nth-child(2)
    {
        font-size : clamp(1rem, 2vw, 1.2rem);
    }
    .btn-success
    {
        margin-top:1.1rem;
    }

      /* map  */

      .rightSideForm
      {
        height: 58vh;
      }
}