
@media (max-width : 575px)
{
    .productName
    {
        font-size: 1.3rem;
    }


    /* cart having products  */

    .inc_dec_Parent
    {
        margin-left: 5rem;
    }

    /* empty cart  */

    .emptyCart_git_Holder
    {
        height: 20vh;
        text-align: center;
        margin-bottom: 7rem;
    }
    .emptyCart_git_Holder img 
    {
        width: 30%;
    }

    .emptyCart_git_Holder p 
    {
        font-size: 1.6rem;
        text-align: center;
    }


    /* subtotal section  */

    /* .totalOfProducts_sectionParent_outerMost 
    {
        margin-left: 19.2rem;
    } */

    .innerParentContainer
    {
        border: 2px solid black;
        padding: 2.2rem;

        background: rgba(151, 224, 240, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(48, 126, 17, 0.3);
        box-shadow: 5px 5px 10px #293f10;
    }  

    .top 
    {
        text-align: center;
        text-shadow: 4px 5px 10px #6e6b14;
        text-decoration: underline;
        margin-bottom: 3.2rem;
        margin-top: 1.1rem;
    }

    .subtotalSection
    {
        margin-bottom: 2.1rem;
        display: flex;
        justify-content: space-between;
    }
    .taxAndOtherChargesSection
    {
        display: flex;
        justify-content: space-between;
    }
    .finalAmountSection
    {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width : 576px) and (max-width : 767px)
{
    .productName
    {
        font-size: 1.3rem;
    }


    /* empty cart  */

    .emptyCart_git_Holder
    {
        height: 20vh;
        text-align: center;
        margin-bottom: 7rem;
    }
    .emptyCart_git_Holder img 
    {
        width: 30%;
    }

    .emptyCart_git_Holder p 
    {
        font-size: 1.6rem;
        text-align: center;
    }
    /* subtotal section  */

    .totalOfProducts_sectionParent_outerMost 
    {
        margin-left: 19.2rem;
    }
    .innerParentContainer
    {
        border: 2px solid black;
        padding: 2.2rem;

        background: rgba(151, 224, 240, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(48, 126, 17, 0.3);
        box-shadow: 5px 5px 10px #293f10;
    }  

    .top 
    {
        text-align: center;
        text-shadow: 4px 5px 10px #6e6b14;
        text-decoration: underline;
        margin-bottom: 3.2rem;
        margin-top: 1.1rem;
    }

    .subtotalSection
    {
        margin-bottom: 2.1rem;
        display: flex;
        justify-content: space-between;
    }
    .taxAndOtherChargesSection
    {
        display: flex;
        justify-content: space-between;
    }
    .finalAmountSection
    {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width : 768px) and (max-width : 992px)
{
    .productPrice
    {
        font-size: 2.6rem;
    }
    .incrementBtn , .quantityDisplaySection , .decrementBtn 
    {
        font-size: 2.2rem;
        width: 4rem;
    }

    /* remove button  */

    .removeBtn
    {
        font-size: 2rem;
        font-weight: 600;
        box-shadow: 3px 9px 10px #e2b8b8;
    }


    /* empty cart gif placement  */

    .emptyCart_git_Holder
    {
        text-align: center;
        margin-bottom: 7rem;
    }
    .emptyCart_git_Holder img 
    {
        width: 13%;
    }

    .emptyCart_git_Holder p 
    {
        font-size: 1.6rem;
        text-align: center;
    }



    .totalOfProducts_sectionParent_outerMost 
    {
        margin-left: 19.2rem;
    }
    .innerParentContainer
    {
        border: 2px solid black;
        padding: 2.2rem;

        background: rgba(151, 224, 240, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(48, 126, 17, 0.3);
        box-shadow: 5px 5px 10px #293f10;
    }  

    .top 
    {
        text-align: center;
        text-shadow: 4px 5px 10px #6e6b14;
        text-decoration: underline;
        margin-bottom: 3.2rem;
        margin-top: 1.1rem;
    }

    .subtotalSection
    {
        margin-bottom: 2.1rem;
        display: flex;
        justify-content: space-between;
    }
    .taxAndOtherChargesSection
    {
        display: flex;
        justify-content: space-between;
    }
    .finalAmountSection
    {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width : 992px) and (max-width : 1200px)
{
    .productPrice
    {
        font-size: 2rem;
    }
    
    .incrementBtn , .quantityDisplaySection , .decrementBtn
    {
        font-size: 2.4rem;
    }
    .incrementBtn , .decrementBtn
    {
        width: 30%;
    }



    /* empty cart placement  */
    .emptyCart_git_Holder
    {
        text-align: center;
        margin-bottom: 7rem;
    }
    .emptyCart_git_Holder img 
    {
        width: 13%;
    }

    .emptyCart_git_Holder p 
    {
        font-size: 1.6rem;
        text-align: center;
    }


    /* subtotal section  */

    .innerParentContainer
    {
        border: 2px solid black;
        padding: 2.2rem;

        background: rgba(151, 224, 240, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(48, 126, 17, 0.3);
        box-shadow: 5px 5px 10px #293f10;
    }  

    .top 
    {
        text-align: center;
        text-shadow: 4px 5px 10px #6e6b14;
        text-decoration: underline;
        margin-bottom: 3.2rem;
        margin-top: 1.1rem;
    }

    .subtotalSection
    {
        margin-bottom: 2.1rem;
        display: flex;
        justify-content: space-between;
    }
    .taxAndOtherChargesSection
    {
        display: flex;
        justify-content: space-between;
    }
    .finalAmountSection
    {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width : 1200px) and (max-width : 1400px)
{
    .parentOfItemsContainer
    {
        margin: 0;
        padding: 0;
        max-width: 85vw;
    }

    .actualCardContainer
    {
        height: 15rem;
    }

    .productName
    {
        font-size: 1.7rem;
        font-weight: 600;
    }
    .incrementBtn , .decrementBtn , .quantityDisplaySection
    {
        width: 21%;
    }
    .incrementBtn , .decrementBtn 
    {
        font-size : 1.4rem;
    }


    /* empty cart  */

    .emptyCart_git_Holder
    {
        text-align: center;
        margin-bottom: 7rem;
    }
    .emptyCart_git_Holder img 
    {
        width: 13%;
    }

    .emptyCart_git_Holder p 
    {
        font-size: 1.6rem;
        text-align: center;
    }



    /* total of product section  */

    .innerParentContainer
    {
        border: 2px solid black;
        padding: 2.2rem;

        background: rgba(151, 224, 240, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(48, 126, 17, 0.3);
        box-shadow: 5px 5px 10px #293f10;
    }  

    .top 
    {
        text-align: center;
        text-shadow: 4px 5px 10px #6e6b14;
        text-decoration: underline;
        margin-bottom: 3.2rem;
        margin-top: 1.1rem;
    }

    .subtotalSection
    {
        margin-bottom: 2.1rem;
        display: flex;
        justify-content: space-between;
    }
    .taxAndOtherChargesSection
    {
        display: flex;
        justify-content: space-between;
    }
    .finalAmountSection
    {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width : 1400px)
{

    /* product cards  */

    .parentOfItemsContainer
    {
        margin: 0;
        padding: 0;
        max-width: 89vw;
        margin-left: 5rem !important;
    }

    
    /* empty cart  */

    .emptyCart_git_Holder
    {
        text-align: center;
        margin-bottom: 7rem;
    }
    .emptyCart_git_Holder img 
    {
        width: 13%;
    }

    .emptyCart_git_Holder p 
    {
        font-size: 1.6rem;
        text-align: center;
    }




    /* total amount to be paid section  */

    .totalOfProducts_sectionParent_outerMost 
    {
        margin: 0;
        padding: 0;
        max-width: 35%;
        margin-left: 5rem;
    }
    .innerParentContainer
    {
        border: 2px solid black;
        width: 30%;
        /* margin-left: 59rem; */
        height: 100%;
        padding: 3rem;
        background: rgba(246, 253, 243, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(48, 126, 17, 0.3);
        box-shadow: 5px 5px 10px #293f10;
    }  

    .top 
    {
        text-align: center;
        text-shadow: 4px 5px 10px #6e6b14;
        text-decoration: underline;
        margin-bottom: 3.2rem;
        margin-top: 1.1rem;
    }

    .subtotalSection
    {
        margin-bottom: 2.1rem;
        display: flex;
        justify-content: space-between;
    }
    .taxAndOtherChargesSection
    {
        display: flex;
        justify-content: space-between;
    }
    .finalAmountSection
    {
        display: flex;
        justify-content: space-between;
    }
}